#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
img{
  width: 100%;
}

.App {
  // background-image: url(./assets/bg-desktop-light.jpg);
  display: flex;
  // height: 300px;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;

    &.light {
        background-color: #f0f2f4;
        color: #333;
      }
    
      &.dark {
        background-color: #202c37;
        color: #fff;
      }

  .container {
    width: 100%;
    max-width: 600px;
    margin-top: -250px;
    padding: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        font-size: 24px;
        color: #ffffff;
      }

      .theme{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: none;
        border: none;

        img {
          width: 40px;
          height: 40px;
        }
      }

    }

    .inputs {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      padding: 10px;
      background-color: #443e3e;
      border-radius: 8px;
      width: 100%;

      input[type="checkbox"] {
        margin-right: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }

      input[type="text"] {
        flex-grow: 1;
        padding: 10px;
        border: none;
        font-size: 16px;
        background-color: #443e3e;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #root {
    padding: 1rem;
  }
  img{
        height: 200px;
      }

  .App {
    margin: 20px;  
    .container {
      margin-top: -200px;
      padding: 10px;

      .header {
        h1 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      .inputs {
        flex-direction: row;
        padding: 5px;

        input[type="checkbox"] {
          margin-bottom: 10px;
          width: 15px;
          height: 15px;
        }

        input[type="text"] {
          padding: 5px;
          font-size: 14px;
        }
      }
    }
  }
}